@using Microsoft.AspNet.Identity
@{
    ViewData["Title"] = "HTC | EMR" ;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"]</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="~/Assets/client/adminLTE/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Assets/client/adminLTE/bootstrap/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Assets/client/adminLTE/dist/css/AdminLTE.css" rel="stylesheet" />
    <link href="~/Assets/client/adminLTE/dist/css/_all-skins.css" rel="stylesheet" />
    <link href="~/Assets/client/adminLTE/iCheck/flat/blue.css" rel="stylesheet" />
    <link href="~/Assets/Client/libs/vitalets-bootstrap-datepicker-c7af15b/css/datepicker.css" rel="stylesheet" />
    <link href="~/Assets/client/select2Jsonp/css/select2.css" rel="stylesheet" />
    @*<link href="~/Assets/Client/Extention/fancybox/css/jquery.fancybox.css" rel="stylesheet" />*@
    @*<link href="~/Assets/Admin/libs/toastr/toastr.css" rel="stylesheet" />*@
    <link href="~/Assets/client/libs/selectbox/css/demo.css" rel="stylesheet" />
    <link href="~/Assets/client/adminLTE/dist/css/custom.css" rel="stylesheet" />
    <link href="~/Assets/client/adminLTE/dist/css/Loading.css" rel="stylesheet" />
    <link href="~/Assets/Client/AdminLTE/dist/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/Assets/Client/fonts/css/font-awesome.min.css" rel="stylesheet" />
    @*<link href="~/Assets/Admin/libs/font-awesome/css/ionicons.min.css" rel="stylesheet" />*@
    @*<link href="~/Assets/Admin/libs/font-awesome/css/Googlefont.css" rel="stylesheet" />*@
    <script src="~/Assets/Client/AdminLTE/plugins/jQuery/jQuery-2.2.0.min.js"></script>
    <script src="~/Assets/Client/AdminLTE/plugins/jQueryUI/jquery-ui.js"></script>
    <script src="~/Assets/Client/Extention/jquery.mask.js"></script>
    <link href="~/Assets/Client/AdminLTE/bootstrap/css/css.css" rel="stylesheet" />
    <link href="~/Assets/Client/AdminLTE/plugins/datepicker/jquery.datetimepicker.css" rel="stylesheet" />
    <script src="~/Assets/Admin/libs/bootstrap/bootstrap.bundle.min.js"></script>
    <!-- import mdi-icon , google-font -->
    <link rel="stylesheet" href="~/Assets/Client/importFile/font.css"/>
    <link rel="stylesheet" href="~/Assets/Client/importFile/icon.css"/>
    @RenderSection("Client", required: false)
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <script type="text/javascript">
        $(document).ready(function () {
            var hei = screen.height - 150;
            var url = window.location;
            $('ul.sidebar-menu a').filter(function () {
                return this.href == url;
            }).parents('li').addClass('active');
            //$("table th").resizable().mousemove(function (event) {
            //    var obj = $(this).siblings();
            //    var tt = $(this).width();
            //    var itt = $(this).index() + 1;
            //    $('table tr td:nth-child(' + itt + ')').width(tt);
            //    for (var i = 0; i < obj.length; i++) {
            //        tt = $(obj[i]).width();
            //        itt = $(obj[i]).index() + 1;
            //        $('table tr td:nth-child(' + itt + ')').width(tt);
            //    }
            //});
            $('#table').focusin(function () {
                $("body").css("overflow", "hidden");
            });
            $('#table').focusout(function () {
                $("body").css("overflow", "auto");
            });
            $("#table th").resizable().mousemove(function (event) {
                $('tbody').width($('#thead').width() + 17);
                Extention.autoResizeColumn($(this));
            });
            //$('#table tr').focusin(function (event) {
            //    $('tbody').width($('#thead').width() + 17);
            //    Extention.autoResizeTable();
            //});
            //$('#table tr').blur(function (event) {
            //    $('tbody').width($('#thead').width() + 17);
            //    Extention.autoResizeTable();
            //});
            //tự động căn chỉnh lại độ rộng của các cột khi thay đổi kích thước trình duyệt
            //var resizeId;
            //$("#thead").resize(function () {
            //    alert('resize');
            //    clearTimeout(resizeId);
            //    resizeId = setTimeout(Extention.autoResizeTable(),50);
            //});
            $(window).resize(function () {
                Extention.autoResizeTable();
            });
            //$('#table').resize(function () {
            //    $('tbody').width($('#thead').width() + 17);
            //    Extention.autoResizeTable();
            //});
            //$('#showmenu').click(function (event) {
            //    $('tbody').width($('#thead').width() + 17);
            //    Extention.autoResizeTable();
            //});
            $('body').on('click', function (event) {
                setTimeout(function () {
                    if ($('#thead').width() != ($('#tbody').width() - 17)) {
                        Extention.autoResizeTable();
                    }
                }, 500);
            });
        });

    </script>
    <div class="wrapper">

        <header class="main-header" style="position: fixed; width: 100%;">
            <!-- Logo -->
            <a href="Index" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini">EMR</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>EMR</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a id="showmenu" href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="navbar-custom-menu" tabindex="2">
                    @*@{Html.RenderAction("Header", "Home");}*@
                    @*@{await Html.RenderPartialAsync("Header.cshtml");}*@
                    <partial name="_Header.cshtml" />
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar" style="position:fixed;">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul id="menuL" class="sidebar-menu" autofocus>
                    @*@{ Html.RenderAction("MenuLeft", "Home");}*@
                    @{
                        await Html.RenderPartialAsync("_MenuLeft", ViewData["Menu"]);
                    }
                    @*<partial name="_MenuLeft.cshtml" model=@Model />*@
                </ul>
            </section>
            <!-- /.sidebar -->

        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <a href="" id="download-file-common" target="_blank"></a>

            <div id="ajax_loader"
                style="background-color: rgba(0, 0, 0, 0.5); z-index: 9999; position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; display: none;"
                class="">
                <img src="~/Assets/Client/images/loading1.gif" style="position: fixed; left: 50%; top: 50%;" class="">
            </div>

            <!-- Main content -->
            <section class="content" style="margin-top: 50px;">
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        @*<footer class="main-footer">
            <div class="pull-right hidden-xs">
            <b>Version</b> 2.3.6
            </div>
            <strong>Copyright &copy; 2014-2016 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights
            reserved.
            </footer>*@

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                                    <p>Will be 23 on April 24th</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-user bg-yellow"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

                                    <p>New phone +1(800)555-1234</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

                                    <p>nora@example.com</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-file-code-o bg-green"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

                                    <p>Execution time 5 seconds</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                    <h3 class="control-sidebar-heading">Tasks Progress</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Custom Template Design
                                    <span class="label label-danger pull-right">70%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Update Resume
                                    <span class="label label-success pull-right">95%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Laravel Integration
                                    <span class="label label-warning pull-right">50%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Back End Framework
                                    <span class="label label-primary pull-right">68%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                </div>
                <!-- /.tab-pane -->
                <!-- Stats tab content -->
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Report panel usage
                                <input type="checkbox" class="pull-right" checked>
                            </label>

                            <p>
                                Some information about this general settings option
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Allow mail redirect
                                <input type="checkbox" class="pull-right" checked>
                            </label>

                            <p>
                                Other sets of options are available
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Expose author name in posts
                                <input type="checkbox" class="pull-right" checked>
                            </label>

                            <p>
                                Allow the user to show his name in blog posts
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <h3 class="control-sidebar-heading">Chat Settings</h3>

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Show me as online
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Turn off notifications
                                <input type="checkbox" class="pull-right">
                            </label>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Delete chat history
                                <a href="javascript:void(0)" class="text-red pull-right"><i
                                        class="fa fa-trash-o"></i></a>
                            </label>
                        </div>
                        <!-- /.form-group -->
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>

    <!-- Bootstrap 3.3.6 -->
    <script src="~/Assets/client/adminLTE/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Assets/client/js/moris/raphael-min.js"></script>
    <script src="~/Assets/client/adminLTE/dist/js/app.min.js"></script>
    @*<script src="~/Assets/Extention/fancybox/jquery.fancybox.js"></script>*@
    <script src="~/Assets/client/adminLTE/dist/js/demo.js"></script>
    <script src="~/Assets/client/Extention/vitalets-bootstrap-datepicker-c7af15b/js/bootstrap-datepicker.js"></script>
    <script src="~/Assets/client/Extention/jquery.twbsPagination.min.js"></script>
    <script src="~/Assets/client/libs/knockoutJs/knockout-3.4.0.js"></script>
    <script src="~/Assets/Client/libs/knockoutJs/knockout.mapping-latest.js"></script>
    <script src="~/Assets/client/libs/knockoutJs/knockout-select2.js"></script>
    <script src="~/Assets/Client/Extention/CustomBinding.js"></script>
    <script src="~/Assets/client/select2Jsonp/select2.js"></script>
    @*<script src="~/Assets/Extention/fancybox/jquery.fancybox.pack.js"></script>*@
    <script src="~/Assets/Admin/libs/toastr/toastr.js"></script>
    <script src="~/Assets/Client/Extention/Initial.js"></script>
    <script src="~/Assets/client/Extention/Extention.js"></script>
    <script src="~/Assets/client/Extention/GeneralCategory.js"></script>
    <script src="~/Assets/client/Extention/CheckBoxDropDown.js"></script>
    <script src="~/Assets/Client/AdminLTE/plugins/datepicker/jquerydatetimepickerfull.js"></script>
    <script src="~/Assets/Client/AdminLTE/plugins/datepicker/jquery.maskedinput-1.3.1.min_.js"></script>
    @*<script src="~/Assets/Client/AdminLTE/dist/js/jquery.dragtable.js"></script>*@
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(document).ready(function () {
            // for ajax loading
            $(document).ajaxStop(function () {
                $('#ajax_loader').hide();
            });
            $(document).ajaxStart(function () {
                $('#ajax_loader').show();
            });

            var heightScreen = $(window).height() * 1;
            $('#mainWeb').height(heightScreen);
        });

        //khaimp comment 26/10/2022 select all input field
        // $(function () {
        //     $(document).on('click', 'input[type=text]', function () { this.select(); });
        // });

        

        setInterval(function () {
            $.ajax({
                url: '/Home/Index',
                type: 'POST',
                loading: false,
            });
        }, 300000);


                                    //$(document).ready(function () {
                                    //    $("#signOut").click(function () {
                                    //        var url = '/Client/Home/LogOff';
                                    //        $.ajax({
                                    //            url: url,
                                    //            data: {},
                                    //            success: function (data) {
                                    //                location.href = '/';
                                    //            },
                                    //            error: function (e) { alert('something bad happened' + e); }
                                    //        });
                                    //    });
                                    //});
    </script>
</body>

</html>
