<thead id="thead2">
    <tr data-bind="foreach: columns2">
        <th data-bind="style : {width : width},attr:{id:property}, visible:visible">
            <div style="text-align:center" class="sortable" data-bind="click: $root.sortClick.bind(property)">
                <span data-bind="html: header"></span><i data-bind="css: state"></i>
            </div>
        </th>
    </tr>

</thead>
