<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <appSettings>
    <!--<add key="MongoDBconnectionString" value="mongodb+srv://sa:Admin%401234@cluster0.dcch42j.mongodb.net/?retryWrites=true&amp;w=majority" />-->
    <add key="MongoDBconnectionString" value="mongodb://localhost:27017" />
    <add key="MongoDBDataBase" value="Medyx_BCA" />
    
    <!--<add key="ReportDirectory" value="D:\\CodeHTC\\Medyx_EMR_BCA\\ReportHSBA" />
    <add key="HSBADirectory" value="D:\\CodeHTC\\Medyx_EMR_BCA\\Storage\\HSBA" />-->
	  <!--<add key="ReportDirectory" value="E:\\Deploy_ERM_HN\\ReportHSBA" />
	  <add key="HSBADirectory" value="E:\\Deploy_ERM_HN\\Storage\\Print" />-->
	  <add key="ReportDirectory" value="D:\\Project_ERM\\MedyxYDCTHN\\ReportHSBA" />
    <add key="HSBADirectory" value="D:\\Project_ERM\\MedyxYDCTHN\\Storage\\Print" />
	  <add key="Upload" value="C:\EMR\Web\TBYTDeploy\Upload" />
    <!--<add key="ReportDirectory" value="F:\\Clone code\\EMR\\ReportHSBA" />
    <add key="HSBADirectory" value="F:\\Clone code\\EMR\\Storage\\HSBA" />-->
    <!--<add key="ReportDirectory" value="E:\\Deploy\\ReportHSBA" />-->
  
   <add key="aspnet:MaxJsonDeserializerMembers" value="15000000" />
  </appSettings>
  <connectionStrings>
    <!--<add name="Medyx_EMR_BCA_SQLConnectionString" connectionString="Data Source=118.70.179.42,1435;Initial Catalog=Medyx_EMR_BCA_SKYMAP;UID=sa;PWD=Admin@1234" providerName="System.Data.SqlClient"/>-->
    <!--<add name="Medyx_EMR_BCA_SQLConnectionString" connectionString="Data Source=.;Initial Catalog=Medyx_EMR_QN;UID=sa;PWD=123456" providerName="System.Data.SqlClient"/>-->
  <!--<add name="Medyx_EMR_BCA_SQLConnectionString" connectionString="Data Source=192.1.0.24;Initial Catalog=Medyx_EMR_BCA_SKYMAP;UID=sa;PWD=HTC152C()" providerName="System.Data.SqlClient"/>--> 
  <add name="Medyx_EMR_BCA_SQLConnectionString" connectionString="Data Source=192.1.0.25;Initial Catalog=Medyx_EMR_HN;UID=sa;PWD=HTC152C()" providerName="System.Data.SqlClient"/>
  <!--<add name="Medyx_EMR_BCA_SQLConnectionString" connectionString="Data Source=192.168.10.55;Initial Catalog=Medyx_EMR_BCA;UID=sa;PWD=HTC152C()" providerName="System.Data.SqlClient"/>-->
  <!--<add name="Medyx_EMR_BCA_SQLConnectionString" connectionString="Data Source=192.168.100.8;Initial Catalog=Medyx_EMR_BCA;UID=sa;PWD=HTC152C()" providerName="System.Data.SqlClient"/>-->
  <!--<add name="Medyx_EMR_BCA_SQLConnectionString" connectionString="Data Source=192.168.1.14;Initial Catalog=Medyx_EMR_QN;UID=sa;PWD=152C()" providerName="System.Data.SqlClient"/>
	  <add connectionString="Data Source=WIN-V2DPAKHKULU;Initial Catalog=medyx_QN;UID=sa;PWD=123456a@" name="SqlDataProvider" providerName="System.Data.SqlClient" />-->
	  <!--<add connectionString="Data Source=192.1.0.25;Initial Catalog=medyx_QN;UID=sa;PWD=HTC152C()" name="SqlDataProvider" providerName="System.Data.SqlClient" />-->
	  <!--<add connectionString="Data Source=192.1.0.25;Initial Catalog=Medyx_EMR_QN;UID=sa;PWD=HTC152C()" name="SqlDataProvider" providerName="System.Data.SqlClient" />-->
    <add connectionString="Data Source=192.1.0.25;Initial Catalog=Medyx_YHCTHN10102024;UID=sa;PWD=HTC152C()" name="SqlDataProvider" providerName="System.Data.SqlClient" />
    <!--<add connectionString="Data Source=192.1.0.25;Initial Catalog=Medyx_EMR_HN;UID=sa;PWD=HTC152C()" name="SqlDataProvider" providerName="System.Data.SqlClient" />-->

  </connectionStrings>
  <system.webServer>
    <modules>
      <remove name="Session" />
      <add name="Session" type="System.Web.SessionState.SessionStateModule"/>
      <remove name="FormsAuthentication" />
      <add name="FormsAuthentication" type="System.Web.Security.FormsAuthenticationModule"/>
    </modules>
  </system.webServer>
  <system.web>
    <sessionState timeout="6000"></sessionState>
    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Html"/>
      </namespaces>
    </pages>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="90000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
	<system.net>
		<settings>
			<servicePointManager expect100Continue="false" />
		</settings>
	</system.net>
</configuration>
