@{
    Layout = "~/Views/HSBADS/_LayoutHSBDS.cshtml";
}

@{
    Medyx_EMR_BCA.Models.DBConText.UserProfileSessionData Model = ViewData["UserProfileSessionData"] as
            Medyx_EMR_BCA.Models.DBConText.UserProfileSessionData;
    var ListRoleSession = Model.ListRoleSession;
    var id = ViewData["id"];
    var stt = ViewData["stt"];
}

<div id="app">
    <cam-ket-phau-thuat  :permission="@(Newtonsoft.Json.JsonConvert.SerializeObject(ListRoleSession))"   :id="@id"   :stt="@stt" />
</div>