@{
    Layout = "~/Views/HSBALT/_LayoutHSBLT.cshtml";
}

@{
    Medyx_EMR_BCA.Models.DBConText.UserProfileSessionData Model = ViewData["UserProfileSessionData"] as
            Medyx_EMR_BCA.Models.DBConText.UserProfileSessionData;
    var ListRoleSession = Model.ListRoleSession;
    var QuyenXem = ListRoleSession.Where(x => x.ActionDetailsName == "/HSBA/Index/Modify").Count() > 0 ? "true" : "false";
    var Create = ListRoleSession.Where(x => x.ActionDetailsName == "/HSBA/Index/Create").Count() > 0;
}

<div id="app">
    <luu-tru-benh-an />
</div>
